@use '../../../generalStyles/variables' as var;

button.p-button, 
button.p-button:not(:disabled):hover {
    background-color: var.$green-workline;
    border-color: var.$green-workline;
    color: white;
    font-size: 20px;
}

.reverse-color > button.p-button, 
.reverse-color > button.p-button.p-button:not(:disabled):hover.reverse-color  {
    background-color: transparent;
    color: var.$green-workline;
}

#login-container .p-button {
  width: 100%;
}