:host {
  display: block;

  :hover{
    background-color: #F3F9FB;
  } 
}

div.oferta-card {
  cursor: pointer;
  padding: 20px 15px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  span {
    font-size: 0.8em;
  }

  h4 {
    font-size: 0.9em;
  }
}

div.oferta-card > header,footer,section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    :nth-child(2) {
      margin-left: auto;
    }

    div {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
} 

