@use '../../../../general/generalStyles/mixins' as mixins;


:host {
  display: block;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

section.job-posting-form-options {
  display: flex;
  flex-direction: row;
  margin-bottom: -5px;

  > a {
    font-size: 22px;
    cursor: pointer;
  }
}

section.first-form-section {
  padding: 10px 30px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @include mixins.change-layout(tablet) {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}

section.first-form-section > div,
section.second-form-section  {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 3%;

  > input, > p-select {
    margin-right: 30%;
    font-size: 21px;

    @include mixins.change-layout(tablet) {
      margin-right: 0%;
    }

  }

  > p-select::ng-deep > span {
    font-size: 19px;
  }

  > label {
    margin-top: 10px;
    height: fit-content;
  }
  
}

section.first-form-section > div > p-button {
  margin-top: 15px;
}

section.second-form-section {
  margin-bottom: 30px;
  padding-bottom: 20px;
}

section.second-form-section > textarea {
  background-color: transparent;

  height: 6em;
  color: black;
  font-size: 20px;

  border-radius: 8px;
  resize: none;
  padding: 5px 10px;
  margin-bottom: 2px;
}

span.text-danger {
  font-size: 18px;
  color: red;
  height: fit-content;
  margin-bottom: -10px;
}
