:host {
  display: block;
}

:host ::ng-deep p-button.green-button > button.p-button {
  padding: 10px 15px !important;
}

:host ::ng-deep p-button.green-button > button.p-button:not(:disabled):hover {
  padding: 10px 15px !important;
}

