.change-passwords-container {
    /* ¿Recuerdas que en Angular la estructura de tu DOM luce
        <app-root>
            <router-outlet/>
            <page>
                content...
            </page>
        <app-root/>?

        Bueno pues page tiene un display flex que renderiza todos los nodos y no puedes hacer
        que uno de sus hijos se centre verticalmente respecto del padre */
    margin-top: 20vh;
    padding: 15px 20px;
}

.change-passwords-container > form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;

    > h1 {
        font-size: 1.3em;
    }

    > p {
        font-size: 1em;
    }
}

.change-passwords-container > form > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}