@use '../../../../shared/styles/generalStyles/mixins' as mixins;

.change-passwords-container {
    /* ¿Recuerdas que en Angular la estructura de tu DOM luce
        <app-root>
            <router-outlet/>
            <page>
                content...
            </page>
        <app-root/>?

        Bueno pues page tiene un display flex que renderiza todos los nodos y no puedes hacer
        que uno de sus hijos se centre verticalmente respecto del padre */
    margin-top: 20vh;
    padding: 15px 20px;

    @include mixins.change-layout(phone) {
        margin-top: 8vh;
    }
}

.change-passwords-container > form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;

    > h1 {
        font-size: 1.3em;
    }

    > p {
        font-size: 1em;
        line-height: 0.98;

        @include mixins.change-layout(phone) {
            margin-top: 7px;
        }
    }

    > span.text-danger {
        margin-bottom: 0px;
        margin-top: -5px;
        display: none;
    }
}

.change-passwords-container > form > div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 30px;
    margin-top: 10px;

    input {
        width: 250px;
    }

    @include mixins.change-layout(phone) {
        flex-direction: column;
    }
}