@use '../generalStyles/mixins' as mixins;

.double-column-form-options {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  > a, > span {
    font-size: 22px;
    cursor: pointer;
  }

  > span {
    margin-left: auto;
  }
}

.double-column-form {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap:  0px 35px;
  padding: 0px 25px 20px;

  @include mixins.change-layout(tablet) {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}

.double-column-form.entity-card-form > .double-column-form-section {
  margin: 0px;
}



.double-column-form-section {
  margin: 0px 50px;


  @include mixins.change-layout(tablet) {
    margin: 0px;
  }
}

.card-form-options {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 10px;

  grid-column: 1/-1;

  padding-top: 15px;
  /* Lo necesitas para hacer que parezca que las opciones están integradas en la primera fila de inputs */
  margin-bottom: -35px;
}

.double-column-form-section > div {
  display: flex;
  flex-direction: column;

  > label {
    margin-top: 15px;
  }
}

.text-danger {
  font-size: 21px;
  color: red;
  height: fit-content;
  margin-bottom: -10px;
}

.double-column-form-section p-button.green-button {
  margin-top: 10px;
  margin-left: auto;
}