.entity-card {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  gap: 8px;
}

.entity-card > div {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: left;

  > h1 {
    font-size: 1.1em;
  }

  >span {
    font-size: 0.9em;
    text-align: right;
    width: 100%;
    display: block;
  }
}

.entity-card > div:last-child > span:first-child {
  grid-column: 1 / -1; /* ocupa las dos columnas */
  text-align: right;    /* opcional: alinea el texto a la izquierda */
}