:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-bottom: 15px;

  h2 {
    font-size: 1.8em;
    font-weight: normal;
    text-align: center;
  }
}
