@use '../../../../../general/generalStyles/variables' as variables;
@use '../../../../../general/generalStyles/fonts' as fonts;
@use '../../../../styles/employer-card.scss';

:host {
  display: block;
}