@use '../../../../../shared/styles/generalStyles/variables' as variables;
@use '../../../../../shared/styles/generalStyles/fonts' as fonts;
@use '../../../../styles/employer-card.scss';

:host {
  display: block;
}