@use '../../fonts' as fonts;


input.p-inputtext.p-component.ng-pristine,
input.p-inputtext.p-component.ng-touched,
input.p-inputtext.p-component.ng-valid {
    background-color: transparent;
    border-color: black;
    color: black;
    border: 0px;
    border-radius: 0px;
    border-bottom: solid 1px black;
    padding-left: 0px;
    padding-bottom: 2px;
    padding-top: 0px;
    font-size: 18px;
}


input.p-inputtext:enabled:focus {
    border-color: black;
}

span.mensaje-error {
    font-size: 20px;
    color: red;
}

