@use '../../../../shared/styles/generalStyles/mixins' as myMixins;


:host {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;

  @include myMixins.change-layout('tablet') {
    margin-bottom: 20px;

    img {
      width: 95%;
    }
  }
}