/* Este archivo contiene una serie de reglas para la paginación que no se pueden aplicar
directamente en el scss del componente, sino que se tienen que aplicar en styles.scss

Para evitar contaminarlo, declare este archivo aquí y lo importe en el styles.scss*/

p-paginator.p-paginator {
  background: transparent;
  padding: 30px;

  button {
    color: black;
    font-size: 24px;
  }
}


.p-paginator .p-paginator-page.p-paginator-page-selected {
  background-color: #008000;
}
