@use '../../../../shared/styles/components/double-column-form.scss';

:host {
  display: block;
}

.double-column-form.entity-card-form > .double-column-form-section {
  margin: 0px;
}

span {
  cursor: pointer;
  z-index: 10;
}
