@use '../../../../general/generalStyles/components/double-column-form.scss';
@use '../../../../general/generalStyles/mixins' as mixins;

:host {
  display: block;
  margin-top: 10px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @include mixins.change-layout(tablet) {
    grid-template-columns: 1fr;
  }
}

section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h3 {
  padding-bottom: 10px;
  border-bottom: solid 1px black;
}
