@use '../../../../generalStyles/fonts' as fonts;
@use '../../../../generalStyles/_mixins' as mixins;

:host {
  display: block;
}

.home-option {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #1ba2ba;
  border-radius: 8px;
  padding: 20px 20px 15px;
  margin-right: 5%;
  cursor: pointer;

  &.home-option-green {
    background-color: green;
  }

  @include mixins.change-layout('phone') {
    grid-template-columns: 1fr;
  }
}


div.home-option-text {
  padding-left: 35px;
  padding-right: 30px;
  line-height: fonts.$paragraph-line-height;

  display: flex;
  flex-direction: column;
  gap: 10px;

  color: #fff; 
  
  h3 {
    margin: 0px;
    font-size: 31px;
  }

  @include mixins.change-layout('phone') {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}


