@use '../../../../generalStyles/fonts' as fonts;

:host {
  display: block;
}

.home-option {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #1ba2ba;
  border-radius: 8px;
  padding: 20px 20px 15px;
  margin-right: 5%;
  cursor: pointer;
}

.home-option-green {
  @extend .home-option;
  background-color: green;
}

div.home-option-text {
  padding-left: 35px;
  padding-right: 30px;
  line-height: fonts.$paragraph-line-height;

  display: flex;
  flex-direction: column;
  gap: 10px;

  color: #fff; 
  
  h3 {
    margin: 0px;
    font-size: 31px;
  }
}

