@use '../../../../generalStyles/generalRules' as generalRules;

:host {
  display: block;
}

.home-option {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #1ba2ba;
  border-radius: 8px;
  padding: 15px 20px;
  cursor: pointer;

  div.home-option-text {
    padding-left: 35px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    color: #fff; 
  }
}

.home-option:nth-child(2) {
  background-color: green;
}
