/* Botón base */
p-button.delete-button {
  width: fit-content;
}


p-button.delete-button button.p-button {
  width: 100%;
  background-color: rgb(240, 7, 7);
  border-color: rgb(240, 7, 7);
  padding: 10px 15px;
  border-radius: 8px;
}

p-button.delete-button button.p-button:not(:disabled):hover {
  background-color: rgb(240, 7, 7);
  border-color: rgb(240, 7, 7);
}

/* Estilos del texto */
p-button.delete-button button.p-button > span {
  color: white;
  font-size: 21px;
}
