@use '../../../../shared/styles/generalStyles/variables' as colors;
@use '../../../../shared/styles/generalStyles/mixins' as mixins;

:host {
  display: block;
  margin-right: -10vw;
  margin-left: -10vw;

  @include mixins.change-layout('phone') {
    margin-left: -7vw;
    margin-right: -7vw;
  }
}

header.navbar-phone {
  margin-bottom: 20px;

  display: grid;
  grid-template-columns: 1fr auto auto;
  padding: 15px 0px;

  background-color: colors.$black-nav;
  color: colors.$white-font;
  
  > :first-child {
    margin-right: auto;
  }
}
