@use '../../../../general/generalStyles/mixins' as mixins;

:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-bottom: 15px;

  h2 {
    font-size: 1.6em;
    font-weight: normal;
    text-align: center;
  }

  @include mixins.change-layout(tablet) {
    padding-bottom: 0px;
  }
}
