@use '../fonts' as fonts;

.p-floatlabel:has(input:focus) label,
.p-floatlabel:has(input:-webkit-autofill) label,
.p-floatlabel:has(textarea:focus) label,
.p-floatlabel:has(.p-inputwrapper-focus) label {
    background-color: #F5F5F5 !important;
    color: black !important; /* si no funciona sin !important, úsalo */
}

input.p-inputtext.p-component.ng-pristine,
input.p-inputtext.p-component.ng-touched,
input.p-inputtext.p-component.ng-valid {
    background-color: transparent;
    border-color: black;
    color: black;
    border: 0px;
    border-radius: 0px;
    border-bottom: solid 1px black;
    padding-left: 0px;
    padding-bottom: 2px;
    font-size: 20px;
}


input.p-inputtext:enabled:focus {
    border-color: black;
}

span.mensaje-error {
    font-size: 20px;
    color: red;
}

