@use '../../../../../app/general/generalStyles/variables' as wkColors;

:host {
  display: block;
  margin-left: -10vw;
  margin-right: -10vw;

  /* Esta cantidad ridícula de margin bottom es porque no se puede aplicar directamente
  al header con position:fixed */
  margin-bottom: 110px;
}

header#wk-nav-container {
  position: fixed;
  top: 0;
  width: 100vw;
}

.wk-nav {
  display: grid;
  grid-template-columns: 10% 1fr 15%;
  margin: 0px;

  color: wkColors.$white-font;
  background-color: wkColors.$black-nav;
  padding: 15px 0px;
}