<main class="cloud change-passwords-container">
    <form [formGroup]="firstPasswordStepForm">
        <h1>Por favor, confirma tu contraseña</h1>
        <p>Para cambiar tu contraseña es necesario que la confirmes primero</p>
        <div>
            <input formControlName="verifyPassword" pInputText id="confirm-password" type="password" />
            <p-button (onClick)="submitEvent()" class="green-button" label="Verificar contraseña"/>
        </div>
        <span 
            class="text-danger"
            [style.display]="isPasswordWrong() ? 'block' : 'none' ">Contraseña incorrecta</span>
    </form>
</main>
