@font-face {
  font-family: 'Tajawal-Medium';
  src: url('/assets/fonts/Tajawal/Tajawal-Medium.ttf');
  font-style: normal;
  font-display: auto;
}
$font: 'Tajawal-Medium';

/* Font sizes */
$regular-font-size: 26px;
$tablet-font-size: 16px;
$phone-font-size: 12px;