.green-button {
    cursor: pointer;
    background-color: green;
    color:white;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;

    border: 0;
    border-radius: 8px;
    padding: 12px 10px;
}