@use './fonts' as fonts;

.green-button {
    cursor: pointer;
    background-color: green;
    color:white;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: fonts.$font;

    border: 0;
    border-radius: 8px;

    &.red-button {
        background-color: rgb(235, 9, 9);
    }
}

.cloud {
    border-radius: 8px;
    background-color: white;
}

.mat-mdc-form-field .mdc-floating-label {
    font-size: 0.8em;
}

.wk-form-input {
    background-color: transparent;
    border: 0px;
    border-bottom: solid 1px black;
    font-size: 0.7em;
    padding: 5px 5px 3px;
    margin-bottom: 15px;
}