:host {
  display: block;
}

div.job-post-description {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px 0px;
  padding: 15px 20px;
  /* No igualan las alturas por defecto*/
  height: 100%;

  >h3{
    font-size: 1.3em;
  }

  >p{
    font-size: 0.9em;
  }
}
