:host {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-right: 30px;
  
  span {
    font-size: 1.35rem;
  }

  .mat-icon {
    font-size: 30px;
    margin-top: -5px;
  }
}
