:host {
  display: block;
  margin: 0 auto;
}

form#login-form {
  background-color: #F5F5F5;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

form#login-form > div {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  justify-content: center;

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5px;
  }

  > div > mat-icon {
    font-size: 28px;
  }
}

form#login-form > p-button {
  margin-top: 15px;
}
