@use '../../../shared/styles/generalStyles/mixins' as mixins;

:host {
  display: block;
  margin: 0 auto;
}

form#login-form {
  background-color: #F5F5F5;
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

form#login-form > div {
  /* Tuviste que fijar un ancho fijo para cada div porque el span del error era mas ancho
  que los input y redimensionaba todos sus hermanos (Los input y botones) */
  width: 300px;

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  justify-content: center;
  align-content: center;
  align-items: center;


  &.div-mensaje-error {
    gap: 0px !important;
    margin-top: 5px;
    margin-bottom: -10px;
  }

  input {
    font-size: 20px;
  }

  @include mixins.change-layout(phone) {
    width: 250px;
  }
}


