<form class="cloud" id="login-form" [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
    <div>
        <span class="pi pi-user" style="font-size: 0.8em"></span>
        <input pInputText id="username" autocomplete="off" formControlName="username"
            placeholder="Nombre de usuario"/>
    </div>
    <div>
        <span class="pi pi-lock" style="font-size: 0.8em"></span>
        <input pInputText id="password" autocomplete="off" formControlName="password"
            placeholder="Contraseña" type="password"/>
    </div>
    @if(loginForm.getError('loginFailed')) {
       <div class="div-mensaje-error">
         <span class="mensaje-error">{{ loginForm.getError('loginFailed') }}</span>
       </div>
    }
    <p-button label="Iniciar Sesión" [style]="{width: '100%'}" (onClick)="submitLoginForm()" />
</form>