@use '../../../generalStyles/variables' as colors;

:host {
  display: block;
  background-color: colors.$white-background;
}

main.job-page-container {
  display: grid;
  grid-template-columns: 23% 70%;
  gap: 20px 7%;
}
