:host {
  display: block;
}

div {
  display: flex;
  flex-direction: row;
  color: white;
  align-content: flex-start;
  align-items: center;
  gap: 10px;

  margin-top: -5px;

  span:first-child {
    font-size: 23px;
  }

  span:last-child {
    margin-bottom: 3px;
  }
}
