@use '../../../generalStyles/mixins' as myMixins;

:host {
  display: block;
  margin-top: 30px;
}

section.home-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;

  @include myMixins.change-layout(tablet) {
    grid-template-columns: 1fr;
  }
}
