@use '../../../general/generalStyles/mixins' as myMixins;

:host {
  display: block;
  margin: 40px 0px;
}

section.home-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @include myMixins.change-layout('tablet') {
    grid-template-columns: 1fr;
  }
}