@use '../../../../../generalStyles/mixins' as mixins;

:host {
  display: block;
}

table.job-post-info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;

  @include mixins.change-layout(phone) {
    grid-template-columns: 1fr 1fr;
  }
}

table.job-post-info {
  > tr > td {
    border: solid 1px black;
    border-collapse: collapse;
  }

  > tr:first-child > td {
    border-top: 0px;
  }

  > tr:last-child > td {
    border-bottom: 0px;
  }

  > tr > td:first-child {
    border-left: 0px;
  }

  > tr > td:last-child {
    border-right: 0px;
  }  
}

table.job-post-info > tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;

  > td {
    width: 100%;
    padding: 15px 5px;
    text-align: center;
  }

  @include mixins.change-layout(phone) {
    grid-template-columns: 1fr;
  }
}

table.job-post-info {
  @include mixins.change-layout(phone) {
    tr > td {
      border: 0px;
    }

    tr:first-child {
      border-right: solid 1px black;
    }

    tr > td {
      border-bottom: solid 1px black !important;
    }

    tr > td:last-child {
      border-bottom: 0px !important;
    }
  }
}
