:host {
  display: block;
}

form#job-search-form {
  display: flex;
  flex-direction: column;
  padding: 15px 20px 12px;

  label {
    font-size: 24px;
    margin-bottom: 0px;
  }

  input, p-select {
    margin-bottom: 10px;
  }
}

form#job-search-form > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 10px;

  span {
    cursor: pointer;
    font-size: 0.75em;
    margin-left: auto;
  }

  img {
    width: 18px;
    height: 18px;
  }
}


form#job-search-form > p-button {
  margin: 10px 0px;
  padding: 0px 10%;
}