@use '../../../../../shared/styles/generalStyles/mixins' as mixins;

:host {
  display: block;
}

button.job-search-form-tablet {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-content: center;
  align-items: center;
  padding: 8px 15px;
}

main#tablet-form-container {
  background-color: rgba(51, 51, 51, 0.7);
  /* Color #333 con 30% de transparencia */
  height: 0vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  /*Si pones right 0 se abrir치 y cerrar치 desde la derecha,
  si pones left 0 se abrir치 y cerrar치 desde la izquierda*/
  overflow: hidden;
  padding: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

main#tablet-form-container>job-search-form {

  @include mixins.change-layout(tablet) {
    margin: 0px 15vw;
  }

  @include mixins.change-layout(phone) {
    margin: 0px 5vw;
  }
}