@use '../../../../shared/styles/generalStyles/mixins' as mixins;

:host {
  display: flex;
  flex-direction: row;
  justify-content: left;


  :nth-child(2) {
    margin-left: auto;
  }

  @include mixins.change-layout(phone) {
    :nth-child(2) {
      margin-left: 17%;
    }
    
  }
}
