@use '../../../shared/styles/generalStyles/variables' as wkVar;
@use '../../../shared/styles/generalStyles/mixins' as mixins;

:host {
  display: block;

  margin-left: -10vw;
  margin-right: -10vw;

  margin-top: auto;

  @include mixins.change-layout('phone') {
    margin-left: -7vw;
    margin-right: -7vw;
  }
}

footer.wk-footer {
  display: flex;
  flex-direction: row;
  gap: 0px;

  background-color: wkVar.$black-nav;
  padding: 20px 10vw;

  @include mixins.change-layout('phone') {
    flex-direction: column;
    gap: 10px;
  }
}

ul.wk-footer-list {
  padding: 0% 4%;
  margin-top: 7px;

  display: flex;
  flex-direction: column;
  gap: 0px;

  a {
    color: wkVar.$white-font;
  }
}