:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: start;

  h1 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    margin-left: -2px;
  }

  p {
    font-size: 1.6rem;
    line-height: 28px;
    margin-right: 20%;
  }
}






