@use '../../../../general/generalStyles/fonts' as fonts;
@use '../../../../general/generalStyles/mixins' as mixins;

:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: start;

  h1 {
    font-size: 3rem;
    margin-bottom: 28px;
    margin-left: -3px;

    @include mixins.change-layout('phone') {
      line-height: 50px;
      margin-bottom: 10px;
    }
  }

  p {
    font-size: 1.6rem;
    line-height: fonts.$paragraph-line-height;
    margin-right: 20%;
    margin-bottom: 10px;

    @include mixins.change-layout('phone') {
      margin-right: 0%;
    }
  }

}

/*Rompe la encapsulación del componente de primeng
No hay una manera no deprecada de lograrlo*/

:host > p-button::ng-deep > button {
  padding: 10px 15px;

  > span {
    font-size: 23px;
  }
}
