:host {
  display: block;
}

h1 {
  font-size: 1em;
  border-bottom:  solid 1px black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

ul.candidate-entity-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
