@use '../../../../generalStyles/variables' as wkColors;

:host {
  display: block;
}

.wk-nav-container {
  margin: 0% 30%;
}

.wk-nav-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;

  li >  a {
    color: wkColors.$white-font;
  }
}
