@use '../../../../generalStyles/variables' as wkColors;

:host {
  display: block;
  margin: auto 30%;
}

ul.wk-nav-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  li {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  li > a {
    color: wkColors.$white-font;
  }
}
