@use '../../../../../generalStyles/variables' as colors;

:host {
  display: block;
  margin: auto 0px;
  padding-right: 15px;
  background-color: colors.$black-nav;

  img {
    cursor: pointer;
  }
}

nav#dropdown-nav-menu {
  height: 100vh;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  /*Si pones right 0 se abrir치 y cerrar치 desde la derecha,
  si pones left 0 se abrir치 y cerrar치 desde la izquierda*/
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;

  padding: 0px;
  background-color: colors.$black-nav;
}

nav#dropdown-nav-menu > ul {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 10px 15px;

  li {
    border-bottom: solid 1px colors.$white-background;
    padding-bottom: 8px;
  }

  :first-child {
    border-bottom: 0px;
  }

  li > span {
    font-size: 0.9em;
  }
}
