:host {
  display: block;
  margin: auto 0px;
  padding-right: 15px;

  img {
    cursor: pointer;
  }
}

#dropdown-nav-menu {
  height: 100vh;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  /*Si pones right 0 se abrir치 y cerrar치 desde la derecha,
  si pones left 0 se abrir치 y cerrar치 desde la izquierda*/
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;

  padding: 0px;
}
