.entity-card {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  gap: 5px;
}

.entity-card > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: left;

  > h1 {
    font-size: 1.3em;
  }

  >span {
    font-size: 0.9em;
  }

  & :last-child {
    justify-self: right;
  }
}