@use '../../../../shared/styles/generalStyles/mixins'  as mixins;

:host {
  display: block;
}

h1 {
  font-size: 1.2em;
  margin-top: 15px;
  border-bottom: solid 1px black;
  padding-bottom: 8px;
}

ul.candidate-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px 30px;

  margin-bottom: 30px;

  @include mixins.change-layout(tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @include mixins.change-layout(phone) {
    grid-template-columns: 1fr;
  }
}

