<a class="redirect-home" [routerLink]="['/userSettings/myData']">Cancelar</a>
<main class="cloud change-passwords-container">
    <form [formGroup]="secondPasswordStepForm">
        <h1>Escribe tu nueva contraseña</h1>
        <p>Asegurate de no perderla</p>
        <div>
            <input formControlName="newPassword" pInputText type="password" />
            <p-button (onClick)="changePasswordSubmit()" class="green-button" label="Cambiar contraseña"/>
        </div>
        @if (globalFormUtils.isFormControlValid(secondPasswordStepForm.get('newPassword')!)) {
            <span class="text-danger">
                {{ globalFormUtils.getFieldErrorText(
                    secondPasswordStepForm.get('newPassword')!)
                }}
            </span>
        }
    </form>
</main>
