@use '../../general/generalStyles/mixins' as mixins;

:host {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
}

h1,h2 {
  text-align: center;
}

h1 {
  font-size: 1.5em;

  @include mixins.change-layout(phone) {
    margin-top: 10px;
  }
}
h2 {
  font-size: 1.1em;
}
