@use './app/generalStyles/mixins' as mixins;
@use './app/generalStyles/variables' as variables;
@use './app/generalStyles/fonts' as fonts;
@use 'app/generalStyles/generalRules.scss';
@use 'app/generalStyles/forms.scss';
@use './app/generalStyles/primeng/actual-pagination.scss';
@use './app/generalStyles/primeng/actual-form.scss';
@use './app/generalStyles/primeng/actual-login-button.scss';
@use './app/generalStyles/primeng/p-select.scss';
@use "primeicons/primeicons.css";


body {
  font-family: fonts.$font !important;
  font-size: fonts.$regular-font-size !important;
  background-color: variables.$white-background;
  color: variables.$black-nav;
  margin: 0px;
}


// rem → relativo al <html>
// em → relativo al padre (body en tu caso)

/* El primer hijo es router-outlet, el segundo la página en cuestión
Susceptible de fallar en un futuro */

app-root > :nth-child(2) {
    margin-left: 10vw;
    margin-right: 10vw;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @include mixins.change-layout(phone) {
      margin-left: 7vw;
      margin-right: 7vw;
    }
}



html, body { height: 100%; }

