@use './app/shared/styles/generalStyles/mixins' as mixins;
@use './app/shared/styles/generalStyles/variables' as variables;
@use './app/shared/styles/generalStyles/fonts' as fonts;
@use './app/shared/styles/generalStyles/generalRules.scss';
@use './app/shared/styles/generalStyles/forms.scss';
@use "primeicons/primeicons.css";
@use './app/shared/styles/primeng/button/green-button.scss';
@use './app/shared/styles/primeng/button/green-outlined-button.scss';
@use './app/shared/styles/primeng/input/input.scss';
@use './app/shared/styles/primeng/paginator/paginator.scss';
@use './app/shared/styles/primeng/select/select.scss';
@use './app/shared/styles/primeng/select/myProfileSelect.scss';


body {
  font-family: fonts.$font !important;
  font-size: fonts.$regular-font-size !important;
  background-color: variables.$white-background;
  color: variables.$black-nav;
  margin: 0px;
}


// rem → relativo al <html>
// em → relativo al padre (body en tu caso)

/* El primer hijo es router-outlet, el segundo la página en cuestión
Susceptible de fallar en un futuro */

app-root > :nth-child(2) {
    margin-left: 10vw;
    margin-right: 10vw;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @include mixins.change-layout(phone) {
      margin-left: 7vw;
      margin-right: 7vw;
    }
}



html, body { height: 100%; }



