
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming

@use './app/generalStyles/mixins' as resp-screen;
@use './app/generalStyles/variables' as variables;
@use './app/generalStyles/fonts' as fonts;
@use 'app/generalStyles/generalRules.scss';


body {
    font-family: fonts.$font;
    font-size: fonts.$regular-font-size;
    background-color: variables.$white-background;
}


/* El primer hijo es router-outlet, el segundo la página en cuestión
Susceptible de fallar en un futuro */

app-root > :nth-child(2) {
    margin-left: 10vw;
    margin-right: 10vw;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


@include resp-screen.change-layout(phone) {
    body > *{
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

