@use '../../../../general/generalStyles/components/double-column-form.scss';
@use '../../../../general/generalStyles/mixins' as mixins;

:host {
  display: block;
  padding: 0px 100px;

  @include mixins.change-layout(phone) {
    padding: 0px;
  }

  p-button.green-button {
    margin-top: 10px;
    margin-left: auto;
  }

  p-select {
    margin-top: 5px;
  }
}

