@use '../../../../shared/styles/components/double-column-form.scss';
@use '../../../../shared/styles/generalStyles/mixins' as mixins;

:host {
  display: block;
  padding: 0px 100px;

  @include mixins.change-layout(phone) {
    padding: 0px;
  }

  p-select {
    margin-top: 5px;
  }
}

