<form class="job-search-form cloud" id="job-search-form">
    <div>
        <span class="job-search-remove-filters">Reiniciar formulario</span>
        <!-- <img src="/images/jobs/cerrar2.png" alt="cerrar.png" /> -->
    </div>

    <label>Puesto</label>
    <input type="text" class="wk-form-input" name="puesto" />

    <label>Tipo Contrato</label>
    <mat-select 
        [(value)] = "tiposContratoValues[0]">
        @for (tipoContrato of tiposContratoValues; track tipoContrato) {
            <mat-option [value]="tipoContrato">{{ tipoContrato | titlecase }}</mat-option>
        }
    </mat-select>

    <label>Ciudad</label>
    <input type="text" class="wk-form-input" name="ciudad" />

    <label>Salario mínimo</label>
    <input type="text" class="wk-form-input" name="salarioAnualMinimo" />
    <p class="mensaje-error"></p>

    <label>Modalidad</label>
    <mat-select
        [(value)] = "tiposModalidadesValues[0]">
        @for (modalidad of tiposModalidadesValues; track modalidad) {
            <mat-option [value]="modalidad">{{ modalidad | titlecase }}</mat-option>
        }
    </mat-select>

    <input type="submit" class="green-button" value="Buscar ofertas" />
</form>
