<form class="job-search-form cloud" id="job-search-form" 
    [formGroup]="searchForm" (ngSubmit)="submitEvent()">
    <div>
        <span class="job-search-remove-filters">Reiniciar formulario</span>
        <!-- <img src="/images/jobs/cerrar2.png" alt="cerrar.png" /> -->
    </div>

    <label>Puesto</label>
    <input type="text" class="wk-form-input" name="puesto" formControlName="puesto" />

    <label>Tipo Contrato</label>
    <mat-select formControlName="tipoContrato">
        @for (tipoContrato of tiposContratoValues; track tipoContrato.toString()) {
            <mat-option [value]="tipoContrato">{{ tipoContrato | titlecase }}</mat-option>
        }
    </mat-select>

    <label>Ciudad</label>
    <input type="text" class="wk-form-input" name="ciudad"  formControlName="ciudad"/>

    <label>Salario mínimo</label>
    <input type="number" class="wk-form-input" name="salarioAnualMinimo" formControlName="salarioAnualMinimo"/>
    <p class="mensaje-error"></p>

    <label>Modalidad</label>
    <mat-select formControlName="modalidad"
        [(value)] = "tiposModalidadesValues[0]">
        @for (modalidad of tiposModalidadesValues; track modalidad.toString()) {
            <mat-option [value]="modalidad">{{ modalidad | titlecase }}</mat-option>
        }
    </mat-select>

    <div>
        <button type="submit" class="green-button"> Buscar ofertas</button>
    </div>
</form>
