@use '../../../generalStyles/mixins' as myMixins;

:host {
  display: block;
}

main.cartel-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;

  /* Evita que la altura de la imagen condicione la de su hermano*/
  align-items: start;

  @include myMixins.change-layout('tablet') {
    grid-template-columns: 1fr;

    :nth-child(1) {
      grid-row: 2 / 3;
    }

    :nth-child(2) {
      grid-row: 1 / 2;
    }
  }
}