@use '../../../generalStyles/mixins' as myMixins;

:host {
  display: block;
  margin-top: 60px;
  margin-bottom: 40px;
}

main.cartel-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;

  /* Evita que la altura de la imagen condicione la de su hermano*/
  align-items: start;

  @include myMixins.change-layout(tablet) {
    grid-template-columns: 1fr;
  }
}
